<a href="https://colab.research.google.com/github/mayankbhandari10/ApiAutomationRest/blob/master/Chapter5_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating a guest_list
guest_list=["Rishu", "Alok","Abhay","jatin","abhishek"]
for guest in guest_list:
  print(f"Welcome to the dinner : {guest}")

Welcome to the dinner : Rishu
Welcome to the dinner : Alok
Welcome to the dinner : Abhay
Welcome to the dinner : jatin
Welcome to the dinner : abhishek

In [ ]:
#changing the guest list
guest_list=["Rishu", "Alok","Abhay","jatin","abhishek"]
print(f"{guest_list[0]} is not available for the party \n")
guest_list.remove('Rishu')


print("********current guest name for the party********\n")
print(f"{guest_list}\n\n")

print("***** Adding a new member for the Party********\n ")
guest_list.append('Sachin')
for guest in guest_list:
  print(f"the new list for the dinner party: {guest}\n")

Rishu is not available for the party

********current guest name for the party********

['Alok', 'Abhay', 'jatin', 'abhishek']


***** Adding a new member for the Party********

the new list for the dinner party: Alok

the new list for the dinner party: Abhay

the new list for the dinner party: jatin

the new list for the dinner party: abhishek

the new list for the dinner party: Sachin

In [ ]:
#Sort the list(It will sort the list permanentaly)
guest_list=["Rishu", "Alok","Abhay","jatin","abhishek"]
guest_list.sort()
print(guest_list)

['Abhay', 'Alok', 'Rishu', 'abhishek', 'jatin']

In [ ]:
# sort the list temporarily using sorted function
guest_list=["Rishu", "Alok","Abhay","jatin","abhishek"]

print("Here's the original list:\n")
print(guest_list)
print("\n")
print("Here the temp list using sorted\n")
print(sorted(guest_list))
print("\n")
print("The original list\n")
print(guest_list)

Here's the original list:

['Rishu', 'Alok', 'Abhay', 'jatin', 'abhishek']


Here the temp list using sorted

['Abhay', 'Alok', 'Rishu', 'abhishek', 'jatin']


The original list

['Rishu', 'Alok', 'Abhay', 'jatin', 'abhishek']

In [ ]:
#Making numerical list using using Range always print last-1
for value_number in range(1,10):
  print (f"number : {value_number}")

number : 1
number : 2
number : 3
number : 4
number : 5
number : 6
number : 7
number : 8
number : 9

In [ ]:
#convert range number into a list
numbers= list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Program to illustrates the skip functionality in Range need to give the 3 argument
numbers=list(range(1,50,2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
#square root of first 50 natural number using range and list
number=[]
for values in range(1,11):
  square= values**2
  number.append(square)
print(number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#List Comprehension it is used generate the output in a single line of code, combine the for loop and ceration of element in one line
#craete a list with proper name thn assigned the expression to it using for loop
square=[value**2 for value in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Print odd number using range function
odd_number=list(range(1,20,2))
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#print the multiple of 3 and print a list of it

three_multiple=[]
for value in range(1,30):
  multiple= 3*value
  three_multiple.append(multiple)
print(three_multiple)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87]

In [ ]:
#cube of first 20 natural number
numbers_list=[]
for value in range(1,20):
  cube= value**3
  numbers_list.append(cube)
print("list of first 20 cube\n")
print(numbers_list)
for number in numbers_list:
  print(f"cube root is : {number}")

list of first 20 cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]
cube root is : 1
cube root is : 8
cube root is : 27
cube root is : 64
cube root is : 125
cube root is : 216
cube root is : 343
cube root is : 512
cube root is : 729
cube root is : 1000
cube root is : 1331
cube root is : 1728
cube root is : 2197
cube root is : 2744
cube root is : 3375
cube root is : 4096
cube root is : 4913
cube root is : 5832
cube root is : 6859

In [ ]:
#list Comprehension of cube root
numbers_list=[value**3 for value in range(1,20)]
print(numbers_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [ ]:
#List slicing (working with the part of list)

players=["abhay","popo","jatin","rich","Alok"]
for player in players:
  print(player[:-1])

abha
pop
jati
ric
Alo

In [ ]:
#To check wheather a list is empty or not

requested_toppings=[]
if requested_toppings:
  for topppings in requested_toppings:
    print(f"{topppings}")
  print("finished")
else:
   print("Are you sure you want plain pizza")

Are you sure you want plain pizza